@media (min-width: 360px) {
    .Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .PIN {
            height: 68px;
            margin-top: 40px;
            & > input {
                width: 50px;
                height: 100%;
                border: 1px solid $outline;
                box-sizing: border-box;
                border-radius: 10px;
                margin-left: 20px;
                text-align: center;
                font-family: Nunito Sans, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
            }
            .error {
                border: 1px solid red;
            }
            .first {
                margin-left: 0;
            }
        }
        .SubmitDisabled,
        .Submit {
            margin-top: 40px;
            height: 48px;
            background: $button_disabled;
            border: 0;
            border-radius: 4px;
            width: 53%;
            min-width: 139px;
            max-width: 150px;
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $violet;
        }
        .Submit {
            background: $primary_lososiowy;
            color: #FFFFFF;;
        }
    }
}

@media (min-width: 1280px) {
    .Form {
        .PIN {
            & > input {
                font-family: Nunito, sans-serif;
                margin-left: 30px;
                font-size: 16px;
                line-height: 16px;
            }
            .error {
                border: 1px solid red;
            }
        }
        .SubmitDisabled,
        .Submit {
            height: 54px;
        }
    }
}