@media (min-width: 360px) {
    .BottomText {
        margin-top: 20px;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
        color: #707181;
        span {
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            /* identical to box height, or 114% */

            /* primary_lososiowy */
            color: #FF7165;
        }
    }
}

@media (min-width: 1280px) {
    .BottomText {
        font-size: 16px;
        span {
            font-size: 16px;
        }
    }
}