@media (min-width: 360px) {
    .PIN {
        height: 68px;
        margin-top: 40px;
        & > input {
            width: 50px;
            height: 100%;
            border: 1px solid #DBDCEE;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 20px;
            text-align: center;
            font-family: Nunito Sans, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        .first {
            margin-left: 0;
        }
    }
}