@media (min-width: 360px) {
    .LogIn {
        width: 91%;
        height: 75%;
        background: #FFFFFF;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}