@media (min-width: 360px) {
    .LogIn {
        position: relative;
        width: 91%;
        max-width: 800px;
        height: 468px;
        background: #FFFFFF;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (min-width: 1280px) {
    .LogIn {
        height: 488px;
    }
}