@media (min-width: 360px) {
    .exitDiv {
        width: calc(100% - 20px);
        height: 48px;
        margin: 20px 20px 0 0;
        .exit {
            position: relative;
            width: 48px;
            height: 100%;
            float: right;
            border: 1px solid $outline;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .exit::before,
        .exit::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background-color: $primary_dark;
            border-radius: 2px;
            top: 22px;
        }
        .exit::before {
            transform: rotate(45deg);
        }
        .exit::after {
            transform: rotate(-45deg);
        }
    }
}

@media (min-width: 1280px) {
    .exitDiv {
        max-width: 800px - 24px;
        margin: 24px 24px 0 0;
    }
}

